@import url(https://fonts.googleapis.com/css2?family=Ewert&family=Ultra);

main {
    display: flex;
    font-family: "Ultra", serif;
}

em {
    font-size: 1rem;
    font-style: italic;
}

.poster h1 {
    font-family: "Ewert", cursive;
    font-size: 2rem;
    font-weight: normal;
}

.poster h2 {
    font-size: 1.5rem;
    margin: .7rem auto .55rem auto;
}

.poster p {
    font-size: 1.5rem;
}

.poster u {
    font-size: 2rem;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.poster {
    background-image: url("https://dimmageiras.github.io/101-computing-wanted-poster-css-task/images/parchment.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: .125rem .25rem .5rem .1875rem #000;
    box-sizing: border-box;
    height: 100%;
    margin: 1.2rem auto;
    padding-top: 1.7rem;
    text-align: center;
    width: 100%;
}

.poster .subheading {
    font-size: 1.34rem;
    margin: 1rem auto .48rem auto;
}

.mugshot {
    background-image: url("https://dimmageiras.github.io/101-computing-wanted-poster-css-task/images/mugshot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: inline-block;
    filter: sepia(60%);
    height: 10.1rem;
    opacity: .9;
    width: 80%;
}

.name {
    font-size: 2rem;
    margin: .7rem
}