{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Left Side - Application Title and User Info -->
        <div class="left-side">
            <h1>{% block title %}High Fiv{% endblock %}</h1>
            <ul>
                <a href="{{ 'auth.login' }}">Report</a>
                <a href="{{ 'auth.login' }}">Monthly Board</a>
                <a href="{{ 'auth.login' }}">My Wallet</a>
            </ul>
        </div>

        <div class="right-side">
            <div class="most-wanted-list">
                {% include '/highFiv/wanted-poster.html' %}
                {% include '/highFiv/wanted-poster.html' %}
                {% include '/highFiv/wanted-poster.html' %}
            </div>
        </div>
    </div>
{% endblock %}